@import url(//fonts.googleapis.com/css?family=Roboto);

/******************************************************
	Site Name: http://gdetracking.gweb.io/
	Author: GDE tracking app team.
	CSS3 webkit flexbox Universally Responsive Layout
*******************************************************/

/* CSS3 Flexbox Layout */
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    background-color:rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0 0 0.3em #000;
    border-radius: 1em;
}
::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color:rgba(0, 0, 0, 0.4);
}

/*	Android KitKat Roboto font with W3C recommended text size */
h1, h2, h3, h4, h5, p, a, .text-styled {
    /* W3C */
    color: #000;
    font-family:'Roboto', sans-serif;
    text-decoration:none;
    margin:0;
}
a {
    /* W3C */
    font-weight:bold;
}
h1, h2, h3, h4 {
    /* W3C */
    font-weight:bold;
}
h1 {
    /* W3C */
    font-size: 2em;
}
h2 {
    /* W3C */
    font-size: 1.5em;
}
h3 {
    /* W3C */
    font-size: 1.17em;
}
h4 {
    /* W3C */
    font-size: 1em;
}
h5 {
    /* W3C */
    font-size: 0.83em;
}
a {
    /* W3C */
    font-size: 1em;
    color:#0099CC;
    cursor:pointer;
    transition: all 0.2s linear;
    text-decoration:none !important;
}
a:hover {
    color:#33B5E5;
}
p {
    /* W3C */
    font-size: 1em;
    /*text-shadow: 0em 0em 0.01em #000;*/
    color: #000;
    text-decoration:none;
}
/* Buttons */
button {
    /* W3C */
    box-shadow: 0 0 0.5em #333, inset 0 0 0.2em #666;
    border-radius:1em;
    transition: all 1s ease;
    background-color:#fff;
    padding:1em;
    margin:1em;
    text-align:center;
    cursor:pointer;
}
button:hover {
    /* W3C */
    box-shadow: 0 0 0.3em #000, inset 0 0 0.2em #666;
    border-radius:1em;
}

/* Android KitKat colors */
 .blue {
    /* W3C */
    box-shadow:0 0 0.1em #33B5E5;
    background-color:#33B5E5;
}
.dark_blue {
    /* W3C */
    box-shadow:0 0 0.1em #0099CC;
    background-color:#0099CC;
    transition: all 0.4s linear;
}
.dark_blue:hover {
    /* W3C */
    box-shadow:0 0 0.1em #33B5E5, inset 0 0 2em #33B5E5;
}
.purple {
    /* W3C */
    box-shadow:0 0 0.1em #AA66CC;
    background-color:#AA66CC;
}
.dark_purple {
    /* W3C */
    box-shadow:0 0 0.1em #9933CC;
    background-color:#9933CC;
    transition: all 0.4s linear;
}
.dark_purple:hover {
    /* W3C */
    box-shadow:0 0 0.1em #AA66CC, inset 0 0 2em #AA66CC;
}
.green {
    /* W3C */
    box-shadow:0 0 0.1em #99CC00;
    background-color:#99CC00;
}
.dark_green {
    /* W3C */
    box-shadow:0 0 0.1em #669900;
    background-color:#669900;
    transition: all 0.4s linear;
}
.dark_green:hover {
    /* W3C */
    box-shadow:0 0 0.1em #99CC00, inset 0 0 2em #99CC00;
}
.yellow {
    /* W3C */
    box-shadow:0 0 0.1em #FFBB33;
    background-color:#FFBB33;
}
.dark_yellow {
    /* W3C */
    box-shadow:0 0 0.1em #FF8800;
    background-color:#FF8800;
    transition: all 0.4s linear;
}
.dark_yellow:hover {
    /* W3C */
    box-shadow:0 0 0.1em #FFBB33, inset 0 0 2em #FFBB33;
}
.red {
    /* W3C */
    box-shadow:0 0 0.1em #FF4444;
    background-color:#FF4444;
}
.dark_red {
    /* W3C */
    box-shadow:0 0 0.1em #CC0000;
    background-color:#CC0000;
    transition: all 0.4s linear;
}
.dark_red:hover {
    /* W3C */
    box-shadow:0 0 0.1em #FF4444, inset 0 0 2em #FF4444;
}
.grey {
    /* W3C */
    box-shadow:0 0 0.1em #999;
    background-color:#999;
}
.dark_grey {
    /* W3C */
    box-shadow:0 0 0.1em #777;
    background-color:#777;
    transition: all 0.4s linear;
}
.dark_grey:hover {
    /* W3C */
    box-shadow:0 0 0.1em #999, inset 0 0 2em #999;
}
/*	Flex body  */
html {
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:start;
    -webkit-box-align:start;
    /* W3C */
    display: box;
    box-pack:start;
    box-align:start;
	
    height:100%;
    width:100%;
}
body {
    /* webkit */
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack:start;
    -webkit-box-align:start;
	-webkit-box-flex:1;
    /* W3C */
    display: box;
    box-orient: vertical;
    box-pack:start;
    box-align:start;
	box-flex:1;
	
    font-size:100%;
    background-color:#dfdfdf;
    min-width:100%;
    min-height:100%;
    margin:0;
}
header {
    /* W3C */
    position: fixed;
	top:0;
	left:0;
	margin:0;
	padding:0.5em;
    background-color: #484848;
    width:100%;
	height:3em;
    vertical-align: middle;
    z-index: 10000;
}
header aside {
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display: box;
    box-pack:center;
    box-align:center;
	
	position:absolute;
	right:0;
	top:0;
	margin-right:2em;
    height:100%;
}
header a {
    /* W3C */
	position:absolute;
	top:1.5em;
    padding-left: 3em;
    color:#e1e1e1;
}
header:hover a {
    color:#fff;
}
nav {
    /* webkit */
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack:start;
    -webkit-box-align:start;
	-webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-orient: vertical;
    box-pack:start;
    box-align:start;
	box-flex:1;
	
	position:fixed;
	z-index:9999;
	top:3em;
	left:0;
    min-width:14em;
    max-width:14em;
}
section {
    /* webkit */
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack:center;
    -webkit-box-align:start;
	-webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-orient: horizontal;
    box-pack:start;
    box-align:start;
	box-flex:1;
	
    min-height:100%;
    max-height:100%;
	margin-left:17em;
	margin-top:4em;
    background-color:#dfdfdf;
}
article {
    /* webkit */
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack:start;
    -webkit-box-align:start;
	-webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-orient: vertical;
    box-pack:start;
    box-align:start;
	box-flex:1;
	
    min-width:100%;
    max-width:100%;
    min-height:100%;
    max-height:100%;
}

/* Styling login elements */
.userName, #userName {
    /* W3C */
    font-family:'Roboto', sans-serif;
    font-weight:normal;
    text-shadow: 0em 0em 0.01em #000;
    color: #fff;
    text-decoration:none;
    margin-right:1em;
}
.userImg, #userImg {
    /* W3C */
    margin-right:1em;
}
#signout {
    /* W3C */
	display:none;
	position:absolute;
	top:0.5em;
	right:15em;
	width:5em;
    color: #fff;
    font-size: 0.8em;
	text-align:center;
    border-radius:.2em;
    transition: all 0.4s linear;
    background-color:#dd4b39;
	padding:0.5em;
	opacity:0;
    box-shadow:0 0 0.1em #333, inset 0 0 1em #333;
}
#signout:hover {
    /* W3C */
    box-shadow:0 0 0.1em #777, inset 0 0 0.5em #777;
}
#myStatistics{
    /* W3C */
	display:none;
}
#generalStatisticsForGooglers {
	display:none;
}
header:hover #signout {
    /* W3C */
	opacity:1;
}
.navbar-brand {
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
    color:white;
}
.sidebarMenu{
	background-color: #c1c1c1;
	text-decoration: none;
}
.logo {
    /* W3C */
	position:fixed;
	bottom:1em;
	left:1em;
	height:1.5em;
}
.gplus {
    /* W3C */
	position:fixed;
	bottom:3.5em;
	left:1em;
	height:1.5em;
}
/* Icons */
.go_back, #go_back {
    /* W3C */
    background-image:url('../img/ic_action_back.png');
    background-size:2em 2em;
    width: 2em;
    height: 2em;
}
.smallIcon {
    /* W3C */
	position:absolute;
	top:-0.5em;
	left:0.5em;
    height:2em;
	
}
/* Wrap elements using the available space */
 .wrap {
    /* W3C */
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
/* Menu flip boxes */
.flip-box {
    /* W3C */
    overflow:hidden;
}
.flip-box > .side2 {
    /* W3C */
    display:none;
}
.flip-box:hover > .side1 {
    /* W3C */
    display:none;
}
.flip-box:hover > .side2 {
    /* webkit */
    -webkit-box-align:start !important;
    /* W3C */
    box-align:start !important;
    text-align:left !important;
    display:inline;
}
/* UI boxes of different sizes */
 .box, .box2, .box3, .box4, .box5 {
    /* webkit */
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display: box;
    box-orient: vertical;
    box-pack:center;
    box-align:center;
	
    background-color:#fff;
    transition: all 0.4s linear;
    margin:0.5em;
    padding:1.5em;
    text-align:center;
    border-radius:1em;
    box-shadow: 0 0 0.5em #333, inset 0 0 0.2em #666;
}
.box:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover {
    /* W3C */
    border-radius:2em;
    box-shadow: 0px 0px 0.3em #000, inset 0px 0px 0.2em #666;
}
.box {
    /* W3C */
    min-height:3em;
    min-width:3em;
    max-height:3em;
    max-width:3em;
}
.box2 {
    /* W3C */
    min-height:6em;
    min-width:6em;
    max-height:6em;
    max-width:6em;
}
.box3 {
    /* W3C */
    min-height:9em;
    min-width:9em;
    max-height:9em;
    max-width:9em;
}
.box4 {
    /* W3C */
    min-height:12em;
    min-width:12em;
    max-height:12em;
    max-width:12em;
}
.box5 {
    /* W3C */
    min-width:15em;
    max-width:15em;
    min-height:5em;
    max-height:20em;
}
/* Box for menu elements */
.menu {
    /* webkit */
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack:start;
    -webkit-box-align:start;
    /* W3C */
    display: box;
    box-orient: horizontal;
    box-pack:start;
    box-align:start;
}
.menu_box {
    /* W3C */
    border-radius:.3em;
    color:#fff;
    text-shadow: 0em 0em 0.01em #fff;
    padding:0.5em;
    margin:0.5em;
    border-radius:0;
}
.menu_box .accept-arrow {
    /* W3C */
    background-image:url('../img/ic_action_accept.png');
    background-size:1.4em 1.4em;
    width: 1.4em;
    height: 1.4em;
    position:absolute;
    margin-left:0.7em;
    display:none;
}
.menu_box:hover .accept-arrow {
    /* W3C */
    display:inline;
}
nav .box5 {
    /* W3C */
    min-width:100%;
    margin:0;
    margin-left:-1em;
    margin-right:-1em;
    border-radius:0;
    box-shadow: inset 0px 0px 0.2em #666;
}
nav .box5:hover {
    /* W3C */
    box-shadow: inset 0px 0px 0.3em #000;
    border-radius:0;
}
/* Allows iframes to adapt to screen size. */
 article iframe {
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-flex:1;
    /* W3C */
    display: box;
    box-pack:center;
    box-align:center;
    box-flex:1;
    width:80%;
    min-height:70%;
}
/* start.html */
.start {
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:start;
    -webkit-box-align:start;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-pack:start;
    box-align:start;
    box-orient: vertical;
    box-flex:1;
	
    min-width:100%;
    max-width:inherit;
    min-height:100%;
    max-height:inherit;
	padding-top:1em;
}
.interactiveMap {
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient: horizontal;
    -webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-pack:center;
    box-align:center;
    box-orient: horizontal;
    box-flex:1;
	
	margin-top:1em;
}
.countryButtons {
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:start;
    -webkit-box-align:start;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-pack:start;
    box-align:start;
    box-orient: vertical;
    box-flex:1;
	
	width:10em;
}
.countryButtons button {
    /* W3C */
	width:8em;
}
.mapZone {
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
    /* W3C */
    display: box;
    box-pack:center;
    box-align:center;
    box-orient: vertical;
    box-flex:1;
	
    border-radius:1em;
    transition: all 0.4s linear;
    box-shadow: 0px 0px 0.4em #000, inset 0px 0px 0.2em #777;
}
.mapZone:hover {
    /* W3C */
    border-radius:0.3em;
    box-shadow: 0px 0px 0.1em #000, inset 0px 0px 0.1em #555;
}
.angular-google-map-container {
    /* W3C */
    height: 20em;
    width: 50em;
    border-radius:1em;
    transition: all 0.4s linear;
}
.angular-google-map-container:hover {
    /* W3C */
    border-radius:0.3em;
}
.statistics {
    /* W3C */
	display:none;
}
.gdeZone {
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-pack:center;
    box-align:center;
    box-orient: vertical;
    box-flex:1;
}
.gdeList {
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:start;
    -webkit-box-align:start;
    -webkit-box-orient: horizontal;
    -webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-pack:start;
    box-align:start;
    box-orient: horizontal;
    box-flex:1;
}
.gdeCard {
    /* webkit */
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display: box;
    box-orient: vertical;
    box-pack:center;
    box-align:center;
	
	min-width:15em;
    background-color:#eee;
    transition: all 0.4s linear;
    margin:0.5em;
    padding:1.5em;
    text-align:center;
    border-radius:1em;
    transition: all 0.4s linear;
    box-shadow: 0px 0px 0.4em #000, inset 0px 0px 0.2em #777;
}
.gdeCard:hover {
    /* W3C */
    border-radius:0.3em;
    box-shadow: 0px 0px 0.1em #000, inset 0px 0px 0.1em #555;
}
.vertical{
    /* webkit */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-pack:center;
    box-align:center;
    box-orient: vertical;
    box-flex:1;
}
.badge {
    /* W3C */
	height:120px;
	margin:5px;
}
.flag {
    /* W3C */
	height:30px;
	margin:2px;
}
.googlerStats {
    display:-webkit-box;
    -webkit-box-pack:start;
    -webkit-box-align:start;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-pack:start;
    box-align:start;
    box-orient: vertical;
    box-flex:1;
	
    min-width:100%;
    max-width:inherit;
    min-height:100%;
    max-height:inherit;
	padding-top:1em;
}
.gdesGeneralStats {
    display:-webkit-box;
    -webkit-box-pack:start;
    -webkit-box-align:stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-flex:1;
	
    /* W3C */
    display: box;
    box-pack:start;
    box-align:stretch;
    box-orient: horizontal;
    box-flex:1;
}
/* myStatistics.html */
.prettyTable {
	/* W3C */
	margin:1em;
	padding:1em;
}
.prettyTable tr {
	/* W3C */
	transition: all 0.2s linear;
}
.prettyTable tr:nth-child(even) {
	/* W3C */
	background-color: #eee;
}
.prettyTable tr:hover {
	/* W3C */
	background-color: #666;
	color:#fff!important;
}
.prettyTable th {
	/* W3C */
	font-size: 1.17em;
	color: #fff !important;
	text-shadow: 0em 0em 0.01em #fff !important;
	margin:1em;
	padding:1em;
	background-color:#666;
	border-radius:1em;
}

@media (min-width: 992px) {
.sidebarMenu {
    position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #e1e1e1; /*Changed*/
}
}
