<form class="stats dateRange">
	<paper-shadow z="1">
  	<h2>Show activities since:</h2>
  	<select	ng-model="monthSelected"	ng-options="month.value for month in months"	ng-change="dateFilter()" required>
  		<option	value="">
  			-Select month-
  		</option>
  	</select>
  	<select ng-model="yearSelected"		ng-options="year.value for year in years"		ng-change="dateFilter()" required>
  		<option value="">
  			-Select year-
  		</option>
  	</select>
  	<select ng-model="productSelected" ng-options="product.tag for product in products"		ng-change="productFilter()" required>
  		<option value="">
  			-All Products-
  		</option>
  	</select>
  	<div style="width:100%">
      Include activities from Trash?
      <paper-checkbox ng-model="includeDeleted" ng-click="updateIsDeleted()"></paper-checkbox>
    </div>
	</paper-shadow>
</form>
<div class="stats forGooglers">
	<paper-shadow z="1">
  	<h1>Most popular activities</h1>
  	<h5><i>since {{monthSince}}/{{yearSince}}</i></h5>
  	<div class="top100activities" id="top100activities" horizontal layout wrap center-justified>
  		<div id="top100activitiesChart"></div>
  	</div>
	</paper-shadow>
</div>
<div class="stats forGooglers">
	<paper-shadow z="1">
  	<h1>General Statistics by GDE</h1>
  	<h5><i>since {{monthSince}}/{{yearSince}}</i></h5>
  	<div class="gdesGeneralStats" id="generalStatisticsByGDE" horizontal layout wrap center-justified>
  		<div vertical layout>
  			<div id="gdeSelector" class="gdeSelector"></div>
  			<div id="activitiesSlider"	class="activitiesSlider"></div>
  			<div id="socialImpactSlider"	class="socialImpactSlider"></div>
  			<div id="metaImpactSlider" class="metaImpactSlider"></div>
  			<div id="impactSlider" class="impactSlider"></div>
  		</div>
  		<div id="gdeTableChart"></div>
  		<div id="gdePieChart"></div>
  	</div>
	</paper-shadow>
</div>

<div class="stats forGooglers">
	<paper-shadow z="1">
  	<h1>General Statistics by Product</h1>
  	<h5><i>since {{monthSince}}/{{yearSince}}</i></h5>
  	<div class="gdesGeneralStats" id="generalStatisticsByPlatform" horizontal layout wrap center-justified>
  		<div vertical layout>
  			<div id="platformsSelector" class="platformsSelector"></div>
  			<div id="platformsActivitiesSlider" class="platformsActivitiesSlider"></div>
  			<div id="platformsSocialImpactSlider" class="platformsSocialImpactSlider"></div>
  			<div id="platforms_metaImpactSlider" class="platforms_metaImpactSlider"></div>
  			<div id="platformsImpactSlider" class="platformsImpactSlider"></div>
  		</div>
  		<div id="platformsTableChart"></div>
  		<div id="platformsBarChart"></div>
  	</div>
	</paper-shadow>
</div>
<div class="stats forGooglers">
	<paper-shadow z="1">
  	<h1>General Statistics by Activity</h1>
  	<h5><i>since {{monthSince}}/{{yearSince}}</i></h5>
  	<div class="gdesGeneralStats" id="generalStatisticsByActivity" horizontal layout wrap center-justified>
  		<div vertical layout>
  			<div id="activities_Selector" class="activities_Selector"></div>
  			<div id="activities_ActivitiesSlider" class="activities_ActivitiesSlider"></div>
  			<div id="activities_socialImpactSlider" class="activities_socialImpactSlider"></div>
  			<div id="activities_metaImpactSlider" class="activities_metaImpactSlider"></div>
  			<div id="activities_ImpactSlider" class="activities_ImpactSlider"></div>
  		</div>
  		<div id="activityTableChart"></div>
  		<div id="activityBarChart"></div>
  	</div>
	</paper-shadow>
</div>
<!-- Bug
<div class="stats forGooglers">
	<h1>General Statistics by Region</h1>
	<h5><i>since {{monthSince}}/{{yearSince}}</i></h5>
	<div class="gdesGeneralStats" id="generalStatisticsByRegion">
		<div>
			<div id="region_Selector" class="region_Selector"></div>
			<br/>
			<div id="region_ActivitiesSlider" class="region_ActivitiesSlider"></div>
			<br/>
			<div id="region_ResharesSlider" class="region_ResharesSlider"></div>
			<br/>
			<div id="region_metaImpactSlider" class="region_metaImpactSlider"></div>
		</div>
		<div id="regionTableChart"></div>
		<div id="regionBarChart"></div>
	</div>
	<paper-shadow z="1"></paper-shadow>
</div>
-->
</br>
<a href="#/">
  <paper-button>
    <core-icon icon="arrow-back"></core-icon>
    Map
  </paper-button>
</a>
<script src="js/googleUniversalAnalytics.js"></script>