<div class="stats dateRange" style="display: none">
	<h2>Show activities since:</h2>
	<select	ng-model="monthSelected"	ng-options="month.value for month in months"	ng-change="newMonth(month.value)">
		<option>
			-Select month-
		</option>
	</select>
	<select ng-model="yearSelected"		ng-options="year.value for year in years"		ng-change="newYear(year.value)">
		<option>
			-Select year-
		</option>
	</select>
	<paper-shadow z="1"></paper-shadow>
</div>
<div class="stats">
	<h1>My General Statistics</h1>
	<div class="gdesGeneralStats" id="generalStatisticsByGDE">
		<div>
			<div id="gdeTableChart"></div>
			<br/>
			<div id="activitiesSlider"	class="activitiesSlider"></div>
			<br/>
			<div id="resharesSlider"	class="resharesSlider"></div>
			<br/>
			<div id="plus1sSlider" class="plus1sSlider"></div>
			<br/>
			<div id="commentsSlider" class="commentsSlider"></div>
		</div>
		<div id="gdeColumnChart"></div>
	</div>
	<paper-shadow z="1"></paper-shadow>
</div>
<br/>
<div class="stats">
	<table class="prettyTable">
		<tr>
		  <th>
		  </th>
			<th>
				Activity Title
			</th>
			<th>
				+1's
			</th>
			<th>
				Resharers
			</th>
			<th>
				Comments
			</th>
			<th>
				Date
			</th>
		</tr>
		<tr ng-repeat="activity in userActivities | orderBy : 'plus_oners' : true">
		  <td>
		    <paper-icon-button icon="create" ng-click="editGDEActivity(activity.id)"></paper-icon-button>
		  </td>
			<td>
				<a href={{activity.url}} target="_blank">{{activity.title}}</a>
			</td>
			<td>
				{{activity.plus_oners}}
			</td>
			<td>
				{{activity.resharers}}
			</td>
			<td>
				{{activity.comments}}
			</td>
			<td>
				{{activity.date}}
			</td>
		</tr>
	</table>
	<paper-shadow z="1"></paper-shadow>
</div>
</br>
<div>
<a href="#/">
	<paper-icon-button icon="arrow-back" label="map"></paper-icon-button>
</a>


<!-- Activity record detail -->
<paper-dialog	id="singleActivity"			transition="paper-dialog-transition-center">
  <p class="editDialog">
    <core-scroll-header-panel condenses>

      <core-toolbar>
        <div flex></div>
        <div class="bottom indent title" style="color:white">Title</div>
      </core-toolbar>

      <div class="content">
        <paper-input required label="Title of the activity" ng-model="currentActivity.activity_title"></paper-input>
        <div style="text-align:center">
          <paper-input floatingLabel label="Date Created" disabled type="datetime" ng-model="currentActivity.date_created" style="width:20em;" ></paper-input>
          <paper-input floatingLabel label="Date Updated" disabled type="datetime" ng-model="currentActivity.date_updated" style="width:20em;" ></paper-input>
          <br/>
        </div>
        <div style="text-align:center">
          <paper-input floatingLabel label="+1's" ng-model="currentActivity.plus_oners" style="width:20em;" type="number"></paper-input>
          <paper-input floatingLabel label="Resharers" ng-model="currentActivity.resharers" style="width:20em;" type="number" ></paper-input>
          <paper-input floatingLabel label="Comments" ng-model="currentActivity.comments" style="width:20em;" type="number"></paper-input>
          <br/>
        </div>

        <a href={{currentActivity.activity_link}} style="text-align:left" target="_blank">Activity Link</a>

        <h4>Google + Posts</h4>
        <a ng-repeat="post in currentActivityPosts" style="float:left;width:10em"
          href={{post.url}} target="_blank">Original Post</a>
        <br/>
        <h4>Activity Types</h4>
        <div ng-repeat="actType in currentActivity.activity_types" style="float:left;width:7em">

          <div class="card paper-shadow-top paper-shadow-top-z-1">
            <div class="card-inner paper-shadow-bottom paper-shadow-bottom-z-1">
              {{actType}}
            </div>
          </div>

        </div>

        <br/>
        <h2>Products</h2>
        <div ng-repeat="product in currentActivity.product_groups" style="float:left;width:10em">

          <div class="card paper-shadow-top paper-shadow-top-z-1">
            <div class="card-inner paper-shadow-bottom paper-shadow-bottom-z-1">
              {{product}}
            </div>
          </div>

        </div>
        <br/>

        <h3>Activity Metadata</h3>


      </div>

    </core-scroll-header-panel>

  </p>
  <paper-button label="Cancel" dismissive></paper-button>
  <paper-button label="Save" affirmative autofocus ng-click="saveGDEActivity()"></paper-button>
</paper-dialog>