<div class="stats dateRange" style="display: none">
	<h2>Show activities since:</h2>
	<select	ng-model="monthSelected"	ng-options="month.value for month in months"	ng-change="newMonth(month.value)">
		<option>
			-Select month-
		</option>
	</select>
	<select ng-model="yearSelected"		ng-options="year.value for year in years"		ng-change="newYear(year.value)">
		<option>
			-Select year-
		</option>
	</select>
	<paper-shadow z="1"></paper-shadow>
</div>
<div class="stats">
	<h1>My General Statistics</h1>
	<div class="gdesGeneralStats" id="generalStatisticsByGDE">
		<div>
			<div id="gdeTableChart"></div>
			<br/>
			<div id="activitiesSlider"	class="activitiesSlider"></div>
			<br/>
			<div id="resharesSlider"	class="resharesSlider"></div>
			<br/>
			<div id="plus1sSlider" class="plus1sSlider"></div>
			<br/>
			<div id="commentsSlider" class="commentsSlider"></div>
		</div>
		<div id="gdeColumnChart"></div>
	</div>
	<paper-shadow z="1"></paper-shadow>
</div>
<br/>
<!--<paper-fab	class="paper-fab"	icon="add"	id="fabNewActivity" ng-click="newActivity()"></paper-fab>-->
<paper-button class="colored green" label="Create New Activity" raisedButton ng-click="newActivity()"></paper-button>
<div class="stats">
	<table class="prettyTable">
		<tr>
		  <th>
		  </th>
			<th>
				Activity Title
			</th>
			<th>
				+1's
			</th>
			<th>
				Resharers
			</th>
			<th>
				Comments
			</th>
			<th>
				Date
			</th>
		</tr>
		<tr ng-repeat="activity in userActivities | orderBy : 'plus_oners' : true">
		  <td>
		    <paper-icon-button icon="create" ng-click="editGDEActivity(activity.id)"></paper-icon-button>
		  </td>
			<td>
				<a href={{activity.url}} target="_blank">{{activity.title}}</a>
			</td>
			<td>
				{{activity.plus_oners}}
			</td>
			<td>
				{{activity.resharers}}
			</td>
			<td>
				{{activity.comments}}
			</td>
			<td>
				{{activity.date}}
			</td>
		</tr>
	</table>
	<paper-shadow z="1"></paper-shadow>
</div>

</br>
<div>
<a href="#/">
	<paper-icon-button icon="arrow-back" label="map"></paper-icon-button>
</a>


<!-- Activity record detail -->
<paper-dialog	id="singleActivity"			transition="paper-dialog-transition-center">
  <p class="editDialog">

    <div class="core-header" >{{editMode}} Activity</div>

    <div class="content">
      <paper-input floatingLabel label="Title of the activity" ng-model="currentActivity.activity_title"></paper-input>
      <br/>
      <div style="text-align:center">
        <paper-input floatingLabel label="Activity Date" type="datetime" ng-model="currPost_dateLocale" style="width:20em;" ></paper-input>
      </div>
      <div style="text-align:center">
        <paper-input floatingLabel label="Date Created" disabled type="datetime" ng-model="currDate_createdLocale" style="width:20em;" ></paper-input>
        <paper-input floatingLabel label="Date Updated" disabled type="datetime" ng-model="currDate_updatedLocale" style="width:20em;" ></paper-input>
      </div>
      <br/>
      <div style="text-align:center">
        <paper-input floatingLabel label="+1's" ng-model="currentActivity.plus_oners" style="width:20em;" type="number"></paper-input>
        <paper-input floatingLabel label="Resharers" ng-model="currentActivity.resharers" style="width:20em;" type="number" ></paper-input>
        <paper-input floatingLabel label="Comments" ng-model="currentActivity.comments" style="width:20em;" type="number"></paper-input>
        <br/>
      </div>

      <h4>Links</h4>
      <a href={{currentActivity.activity_link}} style="text-align:left" target="_blank" ng-if="currentActivity.activity_link">Activity Link</a>
      <paper-input floatingLabel label="Activity Link" ng-model="currentActivity.activity_link" ng-if="!currentActivity.activity_link" style="width:20em;"></paper-input>
      <br/>
      <a ng-repeat="post in currentActivityPosts" style="float:left;width:10em"
        href={{post.url}} target="_blank">Original Post</a>


      <h4>Activity Types</h4>
      <div ng-repeat="actType in currentActivity.activity_types" style="float:left;width:auto">

        <div class="card paper-shadow-top paper-shadow-top-z-1">
          <div class="card-inner paper-shadow-bottom paper-shadow-bottom-z-1">
            <span style="padding:10px;margin:10px">{{actType}}</span>
          </div>
        </div>

      </div>
      <br/>
      <paper-button label="Select" ng-click="showActivityTypes()"></paper-button>
      <br/>

      <h4>Products</h4>
      <div ng-repeat="product in currentActivity.product_groups" style="float:left;width:auto">

        <div class="card paper-shadow-top paper-shadow-top-z-1">
          <div class="card-inner paper-shadow-bottom paper-shadow-bottom-z-1">
            <span style="padding:10px;margin:10px">{{product}}</span>
          </div>
        </div>

      </div>
      <br/>
      <paper-button label="Select" ng-click="showProductGroups()"></paper-button>
      <br/>

      <!--<h4>Activity Metadata</h4>-->
      <!--TODO:  Dynamically Change the Detail by activity Type -->

    </div>

  </p>
  <paper-button label="Cancel" dismissive></paper-button>
  <paper-button label="Save" affirmative autofocus ng-click="saveGDEActivity()"></paper-button>
</paper-dialog>
<!-- Activity Type Selection -->
<paper-dialog	id="selectActivityTypes"	transition="paper-dialog-transition-center">
	<table style="margin-left: 100px;padding-left: 10px;border-style: solid;height: 600px;"	class='prettyTable' ng-if="currentActivity!=null" >
		<tr>
			<th colspan="3">
				Activity Type Tags
			</th>
		</tr>
	  <tr ng-repeat="activityType in currActivityTypesList">
	    <td style='width:24px;height:24px;text-align:center'>
	      <paper-checkbox ng-model="activityType.selected"></paper-checkbox>

	    </td>
	    <td>{{activityType.tag}}</td>
	    <td>{{activityType.description}}</td>
	  </tr>
	</table>

  <paper-button label="Cancel" dismissive></paper-button>
  <paper-button label="Save" affirmative autofocus ng-click="updCurrActivity('at')"></paper-button>
</paper-dialog>
<!-- Product Groups Selection -->
<paper-dialog	id="selectProductGroups"	transition="paper-dialog-transition-center">

	<table style="margin-right: 10px;padding-right: 10px;border-style: solid;height: 600px; width:100%" class='prettyTable' ng-if="currentActivity!=null" >
		<tr>
			<th colspan="3">
				Product Tags
			</th>
		</tr>
		<tr ng-repeat="pg in currProductGroupList">
		  <td style='width:24px;height:24px;text-align:center'>

		    <paper-checkbox ng-model="pg.selected"></paper-checkbox>
		  </td>

	    <td>{{pg.tag}}</td>
	    <td><a href='{{pg.url}}'target='_blank'>{{pg.description}}</a></td>
	  </tr>
	</table>

  <paper-button label="Cancel" dismissive></paper-button>
  <paper-button label="Save" affirmative autofocus ng-click="updCurrActivity('pg')" ></paper-button>
</paper-dialog>
