<div class="start">
	<h1>The {{gdeNumber}} Google Developers Experts around the world!</h1>
	<div class="interactiveMap">
		<div class="countryButtons">
			<button ng-click="focusMap('World')">
				<h3>World</h3>
			</button>
			<button ng-click="focusMap('Asia')">
				<h3>Asia</h3>
			</button>
			<button ng-click="focusMap('Africa')">
				<h3>Africa</h3>
			</button>
			<button ng-click="focusMap('Europe')">
				<h3>Europe</h3>
			</button>
			<button ng-click="focusMap('North America')">
				<h3>North America</h3>
			</button>
			<button ng-click="focusMap('South America')">
				<h3>South America</h3>
			</button>
			<button ng-click="focusMap('Oceania')">
				<h3>Oceania</h3>
			</button>
		</div>
		<div class="mapZone">
			<google-map center="map.center" zoom="map.zoom" draggable="true">
				<markers>
					<marker ng-repeat="marker in markers" coords="marker" icon="marker.icon" click="markerClick(marker.name,marker.badge)">
					</marker>
				</markers>
			</google-map>
		</div>
	</div>
	<div class="gdeZone">
		<div class="greeting" ng-show="userName">
			<h2>Hello {{userName}}</h2>
		</div>
		<br/>
		<p>Participate in our latest <a href="https://plus.google.com/s/%23gde" title="Open g+" target="_blank"><img height="30" src="img/btn_g+normal.png" alt="g+"/> posts</a>, just look for the <a href="https://plus.google.com/s/%23gde" title="Participate in our latest posts in g+" target="_blank">#gde</a> tag.</p>
		<br/>
		<div class="loading">
			<h4>wait for it...</h4>
		</div>
		
		<div class="gdeList wrap">
			<div class="gdeCard" ng-repeat="gde in gdeList | orderBy : +'display_name'"  id="{{gde.id}}">
				<a href={{gde.gplus_page}} target="_blank" title="Go to {{gde.real_name}} g+">
					<h2>{{gde.real_name}}</h2>
					<br/>
					<img src="{{gde.pic_url}}"/>
					<br/>
					<h3 ng-repeat="product in gde.product_group">
						{{product}}
					</h3>
					<p><small>{{gde.country}}</small> <img class="flag" src="img/flags/{{gde.ctry_filename}}.svg"></img></p>
					<img class="badge" src="img/badges/{{gde.pg_filename}}.svg"></img>
				</a>
			</div>
		</div>
	</div>
</div>
